.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px; 
    margin-left:auto;
    margin-right:auto;




}

.search-input {
    margin-top: 20px;    
    display: block;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}