/* 
Challenge: 
Make the button look like Twitter's "Following" button!
(Except for the font)

Hints:
border color: #cfd9de
text color: #0f1419
Remember the font-weight!
*/


button {
    color: #0f1419;
    background:white;
   

    border:1px solid #cfd9de;
    border-radius:20px;

    padding-bottom:8px;
    padding-top:8px;
    padding-left:16px;
    padding-right:16px;

    font-weight:bold;

}